language: php

php:
  - 7.1
  - 7.2

env:
    - SYMFONY_VERSION=lts:^2
    - SYMFONY_VERSION=lts:^3
    - SYMFONY_VERSION=flex:^1


matrix:
  fast_finish: true
  include:
    - env:
        - SYMFONY_VERSION=lts:^2
        - dependencies=lowest

    - env:
        - SYMFONY_VERSION=lts:^3
        - cs_fixer=cs_dry_run

  allow_failures:
    - env: SYMFONY_VERSION=lts:^4

sudo: false

cache:
  directories:
  - $HOME/.composer/cache

before_install:
  - mv /home/travis/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini ~/xdebug.ini
  - composer self-update

before_script:
  - phpenv config-add travis.php.ini
  - travis_wait composer require symfony/${SYMFONY_VERSION} --prefer-source --no-update -v
  - travis_wait composer install --prefer-source
  - if [ "$dependencies" = "lowest" ]; then travis_wait composer update --prefer-lowest --prefer-stable -n; fi;
  - mv ~/xdebug.ini /home/travis/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini

script:
  - travis_wait vendor/phpunit/phpunit/phpunit --coverage-clover=coverage.clover Tests/
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
  - if [ "$cs_fixer" = "cs_dry_run" ]; then php vendor/friendsofphp/php-cs-fixer/php-cs-fixer --diff --dry-run -v fix --config=.php_cs.dist ./; fi;

notifications:
  email: travis@azine-it.ch
